.container {
	width: 100%;
	display: grid;
	grid-template-rows: max-content max-content max-content;
	grid-template-columns: 3fr 3fr;
	flex-direction: column;
	gap: 50px;
	padding: 50px 120px 50px 120px;

	.pageTitle {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	.header {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;
		width: 100%;
		position: relative;
		border-radius: 20px;
		overflow: hidden;
		padding: 0 30px 30px 30px;
		background-color: white;
		box-shadow: 0 0 20px 0 #dfdfdf;

      h1 {
         font-size: 1.8rem;
      }

		& > img {
			width: calc(100% + 60px);
			margin: 0 -30px;
			height: 300px;
			object-fit: cover;
		}

		.tourName {
			width: 80%;
			margin-bottom: -0px;
		}
	}

	& > div:nth-child(1) {
		display: grid;
		gap: 20px;

		h1 {
			font-weight: 600;
			font-size: 2rem;
			margin-bottom: 30px;
		}

		& > p > span {
			font-weight: bold;
		}
	}

	.data {
		display: grid;
		gap: 30px;
		background-color: white;

		.table {
			.line {
				display: grid;
				grid-template-columns: 2fr 2fr 2fr 2fr;
				gap: 10px;
				padding: 15px;
				transition: 0.3s;

				&:not(:nth-child(1)) {
					cursor: pointer;
				}

				p {
					color: black;
				}

				&:nth-child(1) {
					p {
						color: #7b7b7b !important;
					}
				}

				p:nth-child(2),
				p:nth-child(3) {
					text-align: center;
				}
				p:nth-child(4) {
					text-align: right;
				}

				&:not(:nth-child(1)):hover {
					background-color: #ebebeb;
				}
			}

			hr {
				border-top: 1px solid black;
			}
		}
	}

	.create {
		color: var(--primary);
		font-weight: 500;
		text-transform: none;
	}

	.imagePreview {
		overflow: auto;
		display: flex;

		img {
			height: 200px;
			margin-right: 10px;
			margin-bottom: 8px;
			object-fit: contain;
		}
	}

	.title {
		font-size: 0.9rem;
		font-weight: 700;
		color: #003459;
		margin-bottom: -10px;
	}
}
