.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px 120px 40px 120px;

    .header {
        position: relative;
    }

    & > div:nth-child(1) {
        display: grid;
        gap: 20px;

        h1 {
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 30px;
        }

        & > p > span {
            font-weight: bold;
        }
    }

    .data {
        display: grid;
        gap: 30px;
        background-color: white;
        border-radius: 30px;
        overflow: auto;
        box-shadow: 0 0 15px 0 #d8d4e5;
    }

    .create {
        color: var(--primary);
        font-weight: 500;
        text-transform: none;
    }

    .imagePreview {
        overflow: auto;
        display: flex;

        img {
            height: 200px;
            margin-right: 10px;
            margin-bottom: 8px;
            object-fit: contain;
        }
    }

    .title {
        font-size: 0.9rem;
        font-weight: 700;
        color: #003459;
        margin-bottom: -10px;
    }
}
