.createBox {
	width: 540px;
	max-height: 600px;
	overflow: auto;
	padding: 50px;
	background-color: #fff;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	display: grid;
	gap: 40px;

	& > h1 {
		font-size: 1.7rem;
		font-weight: 400;
	}

	& > p {
		margin-top: -20px;
		color: #949494;
	}

	h2 {
		font-weight: 400;
		font-size: 1.4rem;
	}

	.form {
		display: grid;
		gap: 20px;

		textarea {
			font-family: monospace;
			height: 100px;
		}

		.select {
			color: black;
		}
	}

	.buttonText {
		color: white;
	}

	.imagePreview {
		overflow: auto;
		display: flex;
		padding-bottom: 7px;

		img {
			width: 70%;
			height: 150px;
			margin-right: 5px;
			object-fit: contain;
		}
	}
}
