.createBox {
    width: 500px;
    max-height: 600px;
    overflow: auto;
    padding: 50px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: grid;
    gap: 40px;

    & > h1 {
        font-size: 1.7rem;
        font-weight: 400;
        margin-bottom: -20px;
        margin-left: -15px;
    }

    h2 {
        font-weight: 400;
        font-size: 1.4rem;
    }

    .form {
        display: grid;
        gap: 20px;

        textarea {
            height: 100px;
        }

        .title {
            font-size: 0.9rem;
            font-weight: 700;
            color: #003459;
            margin-top: 25px;
            margin-left: -15px;
            margin-bottom: -5px;
        }

        .imagePreview {
            border-radius: 10px;
            img {
                border-radius: 15px;
                width: 100%;
            }
        }

        .select {
            color: black;
        }

        .error {
            margin-top: -10px;
            color: rgb(227, 43, 43);
        }
    }

    .buttonText {
        color: white;
    }
}
