.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 4rem;

    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 100px;
        & > h1 {
            font-size: 2rem;
        }

        .dashboard {
            width: 100%;
            display: grid;
            grid-template-columns: min-content 1fr;
            gap: 70px;

            h1 {
                font-size: 1.6rem;
            }

            .box {
                // width: max-content;
                display: flex;
                height: max-content;
                flex-direction: column;
                padding: 25px 30px;
                gap: 30px;

                .functionBox {
                    display: flex;
                    gap: 15px;
                    flex-wrap: wrap;
                }

                .staffBasicInfo {
                    display: flex;
                    gap: 15px;

                    img {
                        width: 80px;
                        height: 80px;
                        border-radius: 9999px;
                        background-color: #e4f5ff;
                    }

                    & > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        p:nth-child(2) {
                            color: #a1a1a1;
                        }
                    }
                }

                .permission {
                    ul {
                        margin-left: 30px;
                    }
                }
            }

            .signout {
                font-weight: 500;
                color: white;
                text-transform: none;
            }

            .title {
                font-size: 0.9rem;
                font-weight: 700;
                color: #003459;
                margin-top: 20px;
                margin-bottom: 5px;
            }

            .companyBasicInfo {
                display: grid;
                grid-template-columns: 300px 1fr;
                column-gap: 50px;
                row-gap: 20px;
                grid-template-rows: min-content min-content min-content;

                & > img {
                    grid-column: 1;
                    grid-row-start: 1;
                    grid-row-end: 2;
                    grid-row: span 2;
                    width: 300px;
                    height: 220px;
                    object-fit: cover;
                    border-radius: 20px;
                }

                & > div {
                    p:nth-child(2) {
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: #003459;
                    }
                }

                .companyName {
                    grid-column: 2;
                    grid-row: 1;
                }

                .email {
                    grid-column: 2;
                    grid-row: 2;
                }

                .description {
                    grid-column-start: 1;
                    grid-row: 3;
                    grid-column: span 2;
                    p:nth-child(2) {
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                }

                .images {
                    grid-column: span 2;
                    display: flex;
                    overflow: auto;

                    img {
                        height: 300px;
                        object-fit: cover;
                        margin-bottom: 10px;
                        margin-right: 15px;
                        border-radius: 20px;
                    }
                }
            }
        }

        .function {
            padding: 0px 50px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            .item {
                padding: 20px;
                display: flex;
                justify-content: space-between;
                border: 1px solid black;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background-color: #eeeeee;
                }
                // }
            }
        }
    }
}
