.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding: 40px 0px;

	background-color: #fff;

	.main {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 50px;

		& > h1 {
			font-size: 2rem;
			font-weight: 400;
		}

		.dashboard {
			display: grid;
			grid-template-columns: 4fr 5fr;
			gap: 30px;

			.information {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 40px;

				.box {
					width: max-content;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					padding: 25px 00px;
					gap: 30px;
					// background-color: #00baf823;

					.functionBox {
						display: flex;
						gap: 15px;
						flex-wrap: wrap;
					}

					.staffBasicInfo {
						display: flex;
						gap: 15px;

						img {
							width: 80px;
							height: 80px;
							border-radius: 9999px;
							background-color: #e4f5ff;
						}

						& > div {
							display: flex;
							flex-direction: column;
							justify-content: space-evenly;

							p:nth-child(2) {
								color: #a1a1a1;
							}
						}
					}

					.permission {
						ul {
							margin-left: 30px;
						}
					}
				}

				.signout {
					font-weight: 500;
					color: white;
					text-transform: none;
				}
			}

			.function {
				padding: 0px 50px;
				display: flex;
				flex-direction: column;
				gap: 40px;

				.item {
					padding: 20px;
					display: flex;
					justify-content: space-between;
					border: 1px solid black;
					border-radius: 5px;
					cursor: pointer;
					transition: 0.3s;

					&:hover {
						background-color: #eeeeee;
					}
				}
			}
		}
	}
}
